

body {
    background-color: #4682B4 !important;
    display: flex;
    justify-content: center;
    margin-top: 100px !important;
}

.containerr {
   
    width: 700px;
    background-color: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    
}



ul {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    
}

li {
    display: flex;
    justify-content: space-between;
    
    word-break: break-all;
}

ul li {
    border: 1px solid #FFD700;
    
    list-style: none;
    padding: 10px;
}

h1 {
    text-align: center;
   font-family: Georgia, serif;
   font-size: 100px  !important;
   color: #FFD700;
}

input {
    border: none;
    width: 100%;
    outline: none;
}

i {
    background-color: #FFD700;
    color: black;
    width: 20px;
    text-align: center;
    max-height: 20px;
    border-radius: 5px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    
}

i:hover {
    font-size: 20px;
    width: 23px;
}

